<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="console" xsi:type="Console" />
		<target name="consoleSimple" xsi:type="Console" layout="${message} ${exception}" />
		<target name="coloredConsole" xsi:type="ColoredConsole" />
		<target name="blackhole" xsi:type="Null" />

		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target name="file" xsi:type="File"
				layout="${longdate} ${logger} ${message}${exception:format=ToString}"
				fileName="${basedir}/Log/${date:format=yyyy}/${date:format=MM}/${date:format=yyyy-MM-dd}/Log_${uppercase:${level}}.log"
				maxArchiveFiles="10000"
				archiveAboveSize="16777216"
				keepFileOpen="true"
				encoding="utf-8"
				concurrentWrites="true" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="coloredConsole" />
		<logger name="*" minlevel="Warn" writeTo="file, coloredConsole" />
	</rules>
</nlog>
